<h2>Admin Comments</h2>

<% @comments.each do |comment| %>
  <div <%= raw 'class="warning"' unless comment.approved? %> id="<%= dom_id(comment) %>">
    <p>Author: <%= comment.author %></p>
    <p>URL: <%= comment.author_url %></p>
    <p>Email: <%= comment.author_email %></p>
    <p>Referrer: <%= comment.referrer %></p>
    <p>Comment: <%= comment.content %></p>
    <p><%#= link_to 'Edit', [:edit, @commentable, @comment] %><%= link_to 'Edit', edit_comment_path(comment) %>
    <% if comment.approved? %>Approved
    <% else %>
      <%= button_to 'Approve', comment_path(comment, comment: { approved: true }), method: :put %>
    <% end %>
    <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %><br>----------------------------------------</p>
  </div>
  <div class="comment_content"></div>
  <div class="nav"></div>
<% end %>
