<h2>Blog Posts</h2>

<% @posts.each do |post| %>
  <div class="post" id="<%= dom_id(post) %>">
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
    <div class="nav">
      <%= link_to 'Show', post %>
      <% if policy(post).update? %>
        | <%= link_to 'Edit', edit_post_path(post) %> |
      <% end %>
      <% if policy(post).destroy? %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete" %>
      <% end %>
      <% if post.published? %>
        | <%= "Published" if post.published %>
      <% else %>
        <%= button_to 'Publish', post_path(post, post: { published: true }), method: :put %>
      <% end %>
    </div>
  </div>
<% end %>

<br />
<%= link_to 'New Post', new_post_path, class: "btn btn-primary" if policy(Post).create? %>
