<h2>Blog Posts</h2>

<% @posts.each do |post| %>
  <div class="post" id="<%= dom_id(post) %>">
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
    <div class="nav">
      <%= link_to 'Show', post %> |
      <% if current_user.present? && (current_user.editor? || current_user.author?) %>
        <%= link_to 'Edit', edit_post_path(post) %> |
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>

<br />
<%= link_to 'New Post', new_post_path, class: "button radius" %>
