<article>
<h2><%= @post.title %></h2>
<p>Body: <%= @post.body %></p>

<p id="author">
  <b>By:</b>
  <%= @post.author.email %>
</p>

<p id="status">
  <b>Status:</b>
  <%= @post.published? ? "Published" : "Unpublished" %>
</p>

<p><% if policy(@post).update? %>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></p>
</article>

<% if @post.comments.any? %>
  <%= render @post.comments %>
<% end %>

<%= render "comments/form" %>

<p><%= link_to "Back To Blog", posts_path %></p>
